@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills nav-fill gap-2 p-1 small bg-white border rounded-5 shadow-sm">
    <li class="nav-item"><a class="rounded-5 nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile"
            asp-page="./Index"><i class="bi bi-person-circle"></i></a></li>
    <li class="nav-item"><a class="rounded-5 nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email"
            asp-page="./Email"><i class="bi bi-mailbox2"></i></a></li>
    <li class="nav-item"><a class="rounded-5 nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)"
            id="change-password" asp-page="./ChangePassword"><i class="bi bi-key-fill"></i></a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login"
            class="rounded-5 nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)"
            asp-page="./ExternalLogins"><i class="bi bi-layer-backward"></i></a></li>
    }
    @* <li class="nav-item"><a class="rounded-5 nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"
        id="two-factor" asp-page="./TwoFactorAuthentication"><i class="bi bi-lock-fill"></i></a></li> *@
    <li class="nav-item"><a class="rounded-5 nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)"
            id="personal-data" asp-page="./PersonalData"><i class="bi bi-file-earmark-person"></i></a></li>
</ul>
