@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_BeforeLoginLayout";
}

<div class="d-flex align-items-center justify-content-center" style="min-height: 85vh;">
    <div
        class="d-flex flex-column justify-content-center align-items-center text-center shadow p-5 bg-body border-radius-1">
        <div class="icon-large text-primary p-3">
            <i class="bi bi-person-plus-fill"></i>
        </div>
        <div class="pb-5">
            <h2>Új felhasználó létrehozása</h2>
        </div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 d-flex flex-column justify-content-center">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                    placeholder="E-mail" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3 d-flex flex-column justify-content-center">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"
                    placeholder="Jelszó" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3 d-flex flex-column justify-content-center">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                    aria-required="true" placeholder="Jelszó mégegyszer" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mt-5">
                <a href="/" class="btn btn-primary rounded-5 text-white text-decoration-none">Vissza</a>
                <button id="registerSubmit" type="submit" class="btn btn-primary rounded-5">Regisztráció</button>
            </div>
        </form>
    </div>
</div>

@* <section>
    <h3>Use another service to register.</h3>
    <hr />
    @{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    <div>
    <p>
    There are no external authentication services configured. See this <a
    href="https://go.microsoft.com/fwlink/?LinkID=532715">article
    about setting up this ASP.NET application to support logging in via external services</a>.
    </p>
    </div>
    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
    class="form-horizontal">
    <div>
    <p>
    @foreach (var provider in Model.ExternalLogins)
    {
    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
    title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
    }
    </p>
    </div>
    </form>
    }
    }
    </section> *@

@section Scripts {
@* <partial name="_ValidationScriptsPartial" /> *@
}
